

.back {
   
    background-color: #ffffff;
  
}
.heading {
    background-color: #ff9933;
    color: #ffffff;
   
}



.TK {
    background-color: #ff9933;
    color: #ffffff;
}

.button {
   
    background-color: #ff9933;
    color: #ffffff;
   
}