
body {
    background-color: #bdcae8;
    font-family: Arial, sans-serif;
    padding-top: 30px;
}

.gallery-1 {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
}

.album-1 {
    width: 250px;
    height:auto;
    background-color:#BDCAE8;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 60px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.album-1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.album-1 img {
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #ccc;
}

.album-1-info {
    padding: 10px;
}

.album-info h3 {
    margin: 0;
    font-size: 18px;
}

.album-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.card-button {
    width: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }