body {
    background-color: #bdcae8;
    font-family: Arial, sans-serif;
    padding-top: 30px;
}

.gallery-1 {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
}

.album-1 {
    width: 250px;
    height:auto;
    background-color:#BDCAE8;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 60px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.album-1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.album-1 img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.album-1-info {
    padding: 10px;
}

.album-info h3 {
    margin: 0;
    font-size: 18px;
}

.album-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
.album-12{
    width: 250px;
    height:auto;
    background-color:#BDCAE8;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 60px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.album-12:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.album-12 img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.album-12-info {
    padding: 10px;
}

.album-info h3 {
    margin: 0;
    font-size: 18px;
}

.album-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
.card .cta:hover {
    background-color:#3e8e41;
  }
  
  /* Animation */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .card {
    animation: fadeIn 1s ease-in-out;
  }
 

.star-rating {
    display: inline-block;
    position: relative;
    font-size: 0;
}

.star-rating input {
    display: none;
}

.star-rating label {
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.star-rating label:before {
    content: "★";
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#f5c518;
    transform: scale(1.2);
}

.star-rating input:checked ~ label:hover,
.star-rating input:checked ~ label:hover ~ label,
.star-rating input:checked ~ label:hover ~ label ~ label,
.star-rating input:checked ~ label:hover ~ label ~ label ~ label {
    color:#f5c518;
    transform: scale(1.2);
}

.star-rating label {
    display: inline-block;
    width: 35px;
    text-align: center;
}