
.navigation{
    height:100px;
    width:100%;
    
}
.nav-container{
    background-color: #034762;
    height:100px;
    width:100%;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    width: 40%;
    height: 100px;
    transition: 400ms ease-in-out;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.1 );
}

.search-container{
    
    height:32px;
<<<<<<< HEAD
    width: 500px;
    background-color:white;
    border-radius: 2px;
    display: flex;
    


    
=======
    width: 400px;
    background-color:white;
    border-radius: 20px;
    display: flex;
>>>>>>> bea0a02400343cf4ec5bc306279cb8fa8be41dbf
}
.input{
    
    height: 100%;
    justify-content: center;
    border-radius: 20px;
    border: 0;
    display: flex;

    outline: 0;
    width: 85%;
    font-size:10px;
    
    }

<<<<<<< HEAD
}
.icon{
    width: 10%;
    height:115%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: 2px;
}
=======
.btn{
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border:0;
    outline: 0;
    border-radius: 20px;
    background:white;
    color:#034762;
>>>>>>> bea0a02400343cf4ec5bc306279cb8fa8be41dbf

    
}

.more{
    position: absolute;
    display: inline-block;
    

}
.more-btn{
  background-color: #034762;
  color: white;
  padding: 16px;
  border: 1px solid  #034762;
  cursor: pointer;
  margin: 0 1400px;
  font-weight: bolder;
  font-size: large;
}
.more-menu{
   display: none;
  position: absolute;
  background-color:white;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  z-index: 1;
  
}
.more-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0 1400px;
}
.more:hover .more-menu {
    display: block;
    
  }
  .login{
    padding-right:10px;
  }
  .login-btn{
    margin-left: 20px;
    background-color:#034762 ;
    color:white;
    font-weight: bolder;
    font-size: large;
  }

.cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 40px;
    font-weight: bolder;
    font-size: large;
    color: white;

    
}
.cart-logo{
<<<<<<< HEAD
    height: 40px;
    width: 40px;
    background-color:;
    padding-right: 15px;
    
    
=======
    height: 30px;
    width: 30px;
    padding-right: 10px;

>>>>>>> bea0a02400343cf4ec5bc306279cb8fa8be41dbf
}
footer {
    background-color:#034762;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;
}

.footer-content{
    max-width: 960px;
    margin: 0 auto;
}
.content{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    justify-content:space-around;
    padding: 10px;
    background-color: #3b7389;

}
.content:hover{
    background-color: white;
    transition: 0.7s;
    opacity: 0.5;
}
.footer-nav{
    margin: 5px 0;
}
.footer-nav ul{
    justify-content: center;
    display: flex;

}
.footer-nav ul li{
    list-style: none;
}
.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
     transition: 0.7s;
    list-style:none;
    padding: 10px;
}
.footer-nav ul li a:hover{
    opacity: 0.7;
    background-color: black;
    border-radius: 40px;
    transition: 0.3s;
}


